*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Chakra Petch', sans-serif;

}
html{

  font-size: 5.7px;

}

.navi{

  width: 100%;
  height: 6rem;
  background-color: #240768;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 700;

}


.home{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.home select{

  width: 25rem;
  height: 5rem;
  margin: 1rem 0;
  background-color: #04A5D0;
  color: #fff;
  font-size: 1.7rem;

}
.home .home-main{

  font-size: 3.5rem;
  color:  #04A5D0;

}

.home option{
  background-color: #04A5D0;
  color: #fff;
  padding: auto;

}

.questions{

  width: 100%;
  height: 150rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
  background-color: aqua;

}
.question-text{

  margin-bottom: 7rem;

}

.question-items{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.questions-main{

  margin-bottom: 5rem;
  color: #240768;

}

.questions li{

  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 8rem;
  margin: 1.5rem 0;
  border-radius: 5px;
  padding: auto;
  cursor: pointer;
  background-color: #240768;
  color: #fff;
  transition: all 0.5s;
  font-weight: 700;
  font-size: 2rem;


}

.questions li:hover{

background-color: cornflowerblue;

}

.correct{

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #63BA37;
  color: #333264;
  padding-top: 2rem;

}
.correct .true-main{

  font-size: 4rem;
  letter-spacing: .5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;

}
.correct .true-body{

  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  letter-spacing: .3rem;

}

.incorrect{

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background-color: #FF3355;
  color: floralwhite;

}
.incorrect .false-main{

  font-size: 4rem;
  letter-spacing: .5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;

}

.incorrect .false-body{

  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  letter-spacing: .3rem;

}


.start-btn{

  width: 8rem;
  height: 3rem;
  margin-top: 1.3rem;
  font-size: 1.5rem;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  transition: all .5s;
  border: none;
  cursor: pointer;

}

.start-btn:hover{

background-color: #04A5D0;

}

.time{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.continue-btn{

  width: 9rem;
  height: 3.5rem;
  background-color: #333264;
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 2rem;
  font-size: 1.5rem;
  transition: all .5s;
  cursor: pointer;

}
.continue-btn:hover{
  background-color: teal;
}

.restart-btn{

  width: 9rem;
  height: 3.5rem;
  background-color:  #FF7C80;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin-top: 2rem;
  font-size: 1.5rem;
  transition: all .5s;
  cursor: pointer;

}

.restart-btn:hover{

  background-color: olivedrab;

}

.joker-btn{

  width: 12rem;
  height: 3.2rem;
  background-color:  #240768;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin-top: 2rem;
  font-size: 2.3rem;
  transition: all .5s;
  cursor: pointer;

}

.joker-btn:hover{

  background-color: cornflowerblue;

}

.game-finish{

  padding-top: 3rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #240768;

}

.over-main{

  font-size: 4rem;
  letter-spacing: .5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;

}

.over-body{

  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  letter-spacing: .3rem;

}

.time .over-main{

  font-size: 4rem;
  letter-spacing: .5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #240768;

}

.time .over-body{
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  letter-spacing: .3rem;
  color: #240768;

}

@media screen and (min-width : 800px){

  html{
    font-size: 9px;
  }

}

@media screen and (min-width:1200px){

  html{
    font-size: 12px;
  }
  .questions{

    height: 100vh;

  }

  li{

     list-style-type: none;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 10rem;
     height: 2rem;
     margin: 0.6rem 0;
     border-radius: 5px;
     padding: auto;
     cursor: pointer;
     background-color: #240768;
     color: #fff;
     transition: all 0.5s;
     font-weight: 700;
     font-size: 1.3rem;

   }


}







